@keyframes content-opening {
	0% {
		scale: 0;
		opacity: 0.5;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes overlay-opening {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.Modal {
	pointer-events: none;

	position: fixed;
	z-index: var(--modal-z-index);
	z-index: -1;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;

	&.opened {
		pointer-events: all;
		z-index: var(--modal-z-index);
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	z-index: -1;
	inset: 0;

	background-color: rgb(0 0 0 / 40%);

	animation: overlay-opening 0.1s ease-out;
}

.content {
	padding: 12px;
	background-color: var(--bg-color);
	border-radius: 12px;
	animation: content-opening 0.3s ease-out;
}

.closing {
	.content {
		scale: 0.5;
		opacity: 0;
		transition: 0.2s ease-in;
	}

	.overlay {
		opacity: 0;
		transition: 0.2s ease-in;
	}
}
