.Button {
	width: fit-content;
	padding: 8px 12px;
	font: var(--font-m);
	transition: var(--transition);

	&:hover {
		cursor: pointer;
	}
}

.clear {
	padding: 0;
	color: var(--inverted-primary-color);
	background: none;
	border: none;
}

.outline {
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
}

.background {
	color: var(--primary-color);
	background: var(--bg-color);
	border: none;
}

.background-inverted {
	color: var(--inverted-primary-color);
	background: var(--inverted-bg-color);
	border: none;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.square.size-m {
	width: var(--font-line-m);
	height: var(--font-line-m);
}

.square.size-l {
	width: var(--font-line-l);
	height: var(--font-line-l);
}

.square.size-xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font: var(--font-xl);
}

.size-m {
	font: var(--font-m);
}

.size-l {
	font: var(--font-l);
}

.size-xl {
	font: var(--font-xl);
}
