.switchers {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;

	margin-top: auto;
}

.link {
	margin-left: 8px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.item {
		display: flex;
		align-items: center;

		.icon {
			width: 24px;
			height: 24px;
			fill: var(--inverted-primary-color);
		}
	}
}

.Sidebar {
	position: relative;

	display: flex;
	flex-direction: column;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 16px;

	background-color: var(--inverted-bg-color);

	transition: var(--transition);

	&.collapsed {
		align-items: center;
		width: var(--sidebar-width-collapsed);

		.switchers {
			flex-direction: column;
		}

		.items {
			gap: 16px;
		}

		.link {
			width: 0;
			margin-left: 0;
			opacity: 0;
			transition: var(--transition);
		}
	}
}

.toggle-btn {
	position: absolute;
	right: -32px;
	bottom: 32px;
}
