.switchers {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;

	margin-top: auto;
}

.link {
	margin-left: 8px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.item {
		display: flex;
		align-items: center;

		.icon {
			width: 24px;
			height: 24px;
			fill: var(--font-primary-color);
		}
	}
}

$transition-duration: 0.2s;

.Sidebar {
	position: relative;

	display: flex;
	flex-direction: column;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 16px;

	background-color: var(--bg-color);
	border-right: 1px solid var(--delimiter-color);

	transition: width $transition-duration ease-out;

	&.collapsed {
		align-items: center;
		width: var(--sidebar-width-collapsed);
		transition: width $transition-duration ease-in;

		.switchers {
			flex-direction: column;
		}

		.items {
			gap: 16px;
		}

		.link {
			width: 0;
			margin-left: 0;
			opacity: 0;
			transition: var(--transition);
		}
	}
}

.toggle-btn {
	position: absolute;
	right: -32px;
	bottom: 32px;

	padding-right: 10px;

	background-color: var(--header-color);
	border: 1px solid var(--delimiter-color);
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.toggle-icon-wrapper {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;

	svg path {
		fill: var(--placeholder-color);
	}
}
