.switchers {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-top: auto;
}

.Sidebar {
	position: relative;

	display: flex;
	flex-direction: column;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 16px;

	background-color: var(--inverted-bg-color);

	transition: var(--transition);

	&.collapsed {
		width: var(--sidebar-width-collapsed);

		.switchers {
			flex-direction: column;
		}
	}
}

.toggle-btn {
	position: absolute;
	right: -32px;
	bottom: 32px;
}
