.PageError {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
}

.title {
	font: var(--font-l);
	font-weight: 700;
	color: var(--color-primary);
}
