body.dark {
	--bg-color: #141517;
	--header-color: var(--primary-color);
	--primary-color: #1a1b1e;
	--inverted-primary-color: #909296;
	--font-primary-color: #dde6ed;
	--placeholder-color: #7f7f7f;
	--focus-outline-color: rgb(66 133 244 / 50%);
	--border-color: #7f7f7f;
	--border-color-hover: #a5a5a5;
	--delimiter-color: var(--primary-color);
}
