.Navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100%;
	height: var(--navbar-height);
	padding: 0 16px;

	background-color: var(--header-color);
	border-bottom: 1px solid var(--delimiter-color);

	transition: var(--transition);
}
