.Navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 16px;

  background-color: var(--inverted-bg-color);

  transition: var(--transition);
}

.links {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: auto;
}
